body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

#messageContainer {
    white-space: pre-line;
}

#formContainer, #transportContainer, #debugContainer {
    margin-bottom: 20px;
}

#truckForm {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#truckForm label {
    display: block;
    margin-bottom: 5px;
}

#truckForm input, #truckForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#truckForm button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#truckForm button:hover {
    background-color: #4cae4c;
}

.tablink {
    background-color: #f1f1f1;
    color: black; 
    border: 1px solid;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    margin: 4px 2px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.tablink:hover {
    background-color: #ddd;
}

.tablink.active {
    background-color: #555;
    color: white;
    border: 1px solid #555;
}

.invalid {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 0.8em;
    display: none;
    margin-bottom: 10px;
}

.belts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.conveyor {
    display: flex;
    align-items: center;
    background-color: #000;
    padding: .5rem;
    width: 100%;
    margin-top: 5rem;
    border-radius: 100px;
}

.rolling {
    animation: roll 20s linear infinite;
}

.package {
    left: 0;
    transform: translateY(-50%);
    position: absolute;
}

@keyframes roll {
    0% {
        left: 0;
    }
    100% {
        left: 95%;
    }
}

/* Tetromino */

.tetromino div {
    padding: 10px;
}

.tetromino {
    width: 2rem;
}

.straight {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
}

.straight div.cell, .straight.grid-item {
    background-color: blue;
}

.square {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.square div.cell, .square.grid-item {
    background-color: yellow;
}

.T {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.T div.cell, .T.grid-item {
    background-color: purple;
}

.L {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.L div.cell, .L.grid-item {
    background-color: orange;
}

.skew {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.skew div.cell, .skew.grid-item {
    background-color: green;
}

.hidden {
    display: none;
}

.dragging {
    position: absolute;
    z-index: 9999;
    cursor: move;
    left: -25px;
    top: -25px;
    user-select: none;
}

.dragging:hover {
    opacity: 0.8;
}

.dragging:active {
    cursor: grabbing;
}

.dock {
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-wrap: wrap;
    padding: .5rem;
    width: 100%;
    gap: 5px;
}

.truck {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border: 1px solid #000;
    border-radius: 5px;
    align-items: center;
}

.highlight {
    background-color: #c4c4c4;    
}

.grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.grid[data-width="1"] {
    grid-template-columns: 1fr;
    width: calc(1*26px);
}

.grid[data-width="2"] {
    grid-template-columns: repeat(2, 1fr);
    width: calc(2*26px);
}

.grid[data-width="3"] {
    grid-template-columns: repeat(3, 1fr);
    width: calc(3*26px);
}

.grid[data-width="4"] {
    grid-template-columns: repeat(4, 1fr);
    width: calc(4*26px);
}

.grid[data-width="5"] {
    grid-template-columns: repeat(5, 1fr);
    width: calc(5*26px);
}

.grid[data-width="6"] {
    grid-template-columns: repeat(6, 1fr);
    width: calc(6*26px);
}

.grid[data-width="7"] {
    grid-template-columns: repeat(7, 1fr);
    width: calc(7*26px);
}

.grid[data-width="8"] {
    grid-template-columns: repeat(8, 1fr);
    width: calc(8*26px);
}

.grid[data-width="9"] {
    grid-template-columns: repeat(9, 1fr);
    width: calc(9*26px);
}

.grid[data-width="10"] {
    grid-template-columns: repeat(10, 1fr);
    width: calc(10*26px);
}

.grid-item {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    width: 25px;
    height: 25px;
}